<h1> Sign up to MakersBnb </h1>

<form action='/listings' method='post' >
  <label for='email' >
    Enter email: <input type="email" name='email' placeholder='email@email.com'>
  </label>
  <label for='password' >
    Enter password: <input type="password" name='password'>
  </label>
  <input type='submit' value='Sign Up'>
</form>
